<header class="masthead" role="banner">
  <div class="the-top"></div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ site.baseurl }}/">                 
        <object class="brand-anim" 
                width="330" height="46" 
                data="{{ site.baseurl }}/assets/images/{% if page.is404 %}logo404{% else %}logo{% endif %}.svg" 
                type="image/svg+xml">
        </object>          
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">     
        <ul class="nav navbar-nav ml-auto">
          {% assign current = page.url | downcase | split: '/' %}                 
          <li class="nav-item {% if current[1] == null %}active{% endif %}">
            <a class="nav-link" href="/"><i class="fa fa-lg fa-home"></i></a>
          </li>
          <li class="nav-item dropdown {% if current[1] == 'notas' %}active{% endif %}">
            <a class="nav-link" href="#" id="navbarDropdown" 
               role="button" aria-haspopup="true" aria-expanded="false">
              Notas
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item {% if current[1] == 'notas' and current[2] == null %}active{% endif %}" 
                 href="/notas/">
                <i class="fas fa-sm fa-archive"></i><span>Archivo</span>
              </a>
              <a class="dropdown-item {% if current[2] == 'cats' %}active{% endif %}" 
                 href="/notas/cats">
                <i class="fas fa-sm fa-folder-open"></i><span>Categorías</span>
              </a>
              <a class="dropdown-item {% if current[2] == 'tags' %}active{% endif %}" 
                 href="/notas/tags">
                <i class="fas fa-sm fa-tags"></i><span>Tags</span>
              </a>
              <a class="dropdown-item {% if current[2] == 'search' %}active{% endif %}" 
                 href="/notas/search">
                <i class="fas fa-sm fa-search"></i><span>Buscar</span>
              </a>
            </div>
          </li>
           <li class="nav-item {% if current[1] == 'about' %}active{% endif %}">
            <a class="nav-link" href="/about/"><i class="fa fa-lg fa-id-card"></i></a>
          </li>      
        </ul>  
      </div>
    </nav>
  </div> 
</header>