---
layout: page
permalink: /notas/cats
title: "Categorías"
---

<ul class="archive-taxonomy">
  {% assign categories = site.notas | map: 'categories' | join: ',' | split: ',' | group_by: category | sort: 'name' %}  
  {%- for cat in categories -%}
    <li>   
      <i class="fa fa-folder-open"></i>&nbsp;
      <a href="#{{ cat.name }}"><strong>{{ cat.name }}</strong></a>
      <span class="taxonomy-count">{{ cat.size }}</span>      
    </li>
  {%- endfor -%}
</ul>

{% assign show_cats = false %}
{% assign show_tags = true %}
<div class="cat-list">
  {% for cat in categories %}
    <div class="post-list">      
      <h2 id="{{ cat.name }}">
        <i class="fa fa-folder-open"></i>&nbsp;
        {{ cat.name }} ({{ cat.size }})
      </h2>
      <ul class="list-group">
        {% assign sorted_posts = site.notas | sort: 'title' %}
        {% for page in sorted_posts %}
          {% if page.categories contains cat.name %}
            <li class="list-group-item">             
              {%- include page-item.html -%}
            </li>        
          {% endif %}
        {% endfor %}
      </ul>  
    </div>  
  {% endfor %}
</div>