---
layout: page-untitled
pagination:
  enabled: true
  collection: notas
  per_page: 10
  permalink: "/:num/"
  title: "Notas: :num de :max"
  limit: 0
  sort_field: "title"
  sort_reverse: false
permalink: /notas
title: "Notas"
---
{% assign show_cats = true %}
{% assign show_tags = true %}  

<div class="notas">
  <ul class="post-list list-group">
    {%- for page in paginator.posts -%}
    <li class="list-group-item">
      {%- include page-item.html -%}
    </li>
    {%- endfor -%}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}"
         title="Anteriores" alt="Anteriores"><i class="fa fa-2x fa-angle-left"></i></a>
    {% else %}
      <span class="pagination-item older"><i class="fa fa-2x fa-angle-left"></i></span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
         title="Posteriores" alt="Posteriores"><i class="fa fa-2x fa-angle-right"></i></a>
    {% else %}
      <span class="pagination-item newer"><i class="fa fa-2x fa-angle-right"></i></span>
    {% endif %}
  </div>
{%- endif -%}