---
layout: page
permalink: /notas/tags
title: "Etiquetas"
---

<ul class="archive-taxonomy">
  {% assign tags = site.notas | map: 'tags' | join: ',' | split: ',' | group_by: tag | sort: 'name' %}
  {%- for tag in tags -%}
    <li>   
      <i class="fa fa-tag"></i>&nbsp;
      <a href="#{{ tag.name }}"><strong>{{ tag.name | replace:'-', ' ' }}</strong></a>
      <span class="taxonomy-count">{{ tag.size }}</span>      
    </li>
  {%- endfor -%}
</ul>

{% assign show_cats = true %}
{% assign show_tags = false %}       
<div class="tag-list">
  {% for tag in tags %}
    <div class="post-list">      
      <h2 id="{{ tag.name }}">
        <i class="fa fa-tag"></i>&nbsp;
        {{ tag.name | replace:'-', ' ' }} ({{ tag.size }})
      </h2>
      <ul class="list-group">
        {% assign sorted_posts = site.notas | sort: 'title' %}
        {% for page in sorted_posts %}
          {% if page.tags contains tag.name %}
            <li class="list-group-item">             
              {%- include page-item.html -%}
            </li>        
          {% endif %}
        {% endfor %}
      </ul>  
    </div>  
  {% endfor %}
</div>