---
layout: default
---

{% assign show_cats = true %}
{% assign show_tags = true %}

<article class="page">
  <header class="page-header">
    <h1 class="page-title">Notas en categoría <i>{{ page.title }}</i></h1>
  </header>
  <div class="page-content">
    <div class="post-list">
      <ul class="list-group">
        {% for page in page.posts %}
          <li class="list-group-item">             
            {%- include page-item.html -%}
          </li>    
        {% endfor %}
      </ul>  
    </div>
  </div>
</article>


