---
layout: default
---
{%- assign post = page -%}
{%- include sidebar-right.html -%}

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ post.title }}</h1>   	
    <div class="post-meta">
      <span class="post-date">
        <i class="fa fa-calendar"></i>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>  
      </span>  
      {%- include post-cats.html -%}
      {%- include post-tags.html -%}
    </div>
	</header>
  <div class="post-top">
    {% if post.toc %}
      <nav class="toc">
        <header>
          <h4 class="nav-title"><i class="fa fa-file"></i> &nbsp;&nbsp; Contenido</h4>
        </header>
        {{ content | toc_only }}      
      </nav>
    {% endif %}
  </div>  
  <div class="post-content">
    {{ content }}
  </div>
</article>
